<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
<!--        <activity android:name="com.t3g.privio.activity.AcActivity"/>-->
<!--        <activity android:name="com.t3g.privio.activity.AboutActivity" />-->
        <!-- <activity android:name=".activity.CreditDetailsActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light" /> -->
        <activity
            android:name="com.t3g.privio.activity.CreditsActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.t3g.privio.activity.BookmarkActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.t3g.privio.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.t3g.privio.activity.TabListActivity" />
        <activity android:name="com.t3g.privio.activity.DownloadActivity" />
        <activity android:name="com.t3g.privio.activity.HistoryActivity" />
        <activity android:name="com.t3g.privio.activity.WebViewActivity" />
        <activity android:name="com.t3g.privio.activity.NewsActivity" />
        <activity android:name="com.t3g.privio.activity.TabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>